

/* navbar */

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    /* overflow-x: hidden; */
}

header{border: 2px solid rebeccapurple;
    width: 100%;
    display: flex;
    align-items:center;
    height: 80px;
  
     
}
.sec-titel{
    transform: rotate(90deg);
    font-size: 15px;
    font-weight: 400;
    color: black;
}

nav{
    flex: 1;
}

nav ul{
    list-style: none;
     
}

nav ul li{
    display: inline-block; 
    margin-left: 30px;  
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.logo{
     margin-right: 300px;
     margin-top: 10px;
}

.button button{
    background: none;
    border:none ;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

.button .btn-3 {
    margin-right: 15px;
    border-radius: 20px;
    background-color: rgba(17, 17, 209, 0.589);
}
.button .btn-2 {
    margin-right: 15px;
    border-radius: 20px;
   border: 1px solid  rgba(17, 17, 209, 0.589);;
}

.button{
    margin-top: 5px; 
}

.card-section{ 
    margin-top: 10px;
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cards{
    display: flex;
    flex-direction: row;
    width: 1400px;
    margin-left: 100px;

}
.card{ 
    width: 200px;
    height: 325px;
    margin: 15px;
    padding: 20px;
    border-radius: 22px;
    box-shadow: 1px 1px 5px gray;


}
.card h1{
    font-size: 25px;
}
.card a{
 text-decoration: none;
 font-size: 17px;
 font-weight: 600;
 line-height: 25px;
 
}

.card-image img{
    width: 200px;
    height:210px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.card-1{
    background-color: #0dcabec5;
  
}
.card-1 img{
    border:2px solid #03fae9c5;
}
 
.card-2{
    background-color: #FFE3E3;
   
}
.card-2 img{
    border:2px solid #fdf4f4;
}
.card-3{
    background-color: #FAAD80;
    
}
.card-3 img{
    border:2px solid #f8a372;
}
.card-4{
    background-color: #71efa3be;
 
}
.card-4 img{
    border: 2px solid #5cf198 ;
}
 

/* LATEST POSTS */

.LATEST-POSTS{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
     
}
.LATEST-POSTS-image{
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    box-shadow: 1px 1px 10px gainsboro;
}
.LATEST-POSTS-image img{
    width: 550px;
    height: 500px;
}
.LATEST-POSTS-titel{
    display: flex;
    flex-direction: column;
  width: 600px;
  margin-left: 30px;  
}
.LATEST-POSTS-titel h1{
    font-size: 55px;
}
.LATEST-POSTS-titel p{
    font-size: 17px;
    font-weight: 600;
}
.LATEST-POSTS-titel a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
}
.LATEST-POSTS-titel button{
    border: none;
    background-color: rgba(128, 128, 128, 0.322);
    padding: 10px 30px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 16px;
}

/* big card */
 

.big-cards{ 
    display: flex;
    flex-direction: row;
     
    
}
.big-card{ 
    border: 2px solid gray;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.562) ;
    border-radius: 10px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 margin: 20px;
 width: 330px;
 height: 550px;
 padding: 5px;
}
.bid-img{

}
.big-titel {
    margin-left: 20px;
     
}
.big-titel h1{
font-size: 30px;
font-weight: 600;
}
.big-titel a{
    text-decoration: none;
    color: black;
    font-weight: 600;

}
.big-button button{
    margin-left: 20px;
    border: none;
    background-color: rgba(128, 128, 128, 0.322);
    padding: 8px 25px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 16px;
}

/* 4th-section */

.fourth-section{

    display: flex;
    flex-direction: row;
}
.div-1{ 
    width: 530px;
    height: 535px;
    border-radius: 25px;
    background: #F6AE99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    box-shadow: 1px 1px 5px gray;
}
.div-2{ 
    width: 530px;
    height: 535px;
    border-radius: 25px;
    background: #FAAD80;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    box-shadow: 1px 1px 5px gray;
}
.titel{
    padding: 15px;
   
}
.titel h2{
    font-size: 30px;
    
}
.titel a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.titel button{
    margin-top: 50px;
    margin-left: 20px;
    border: none;
    background-color: rgba(128, 128, 128, 0.322);
    padding: 8px 25px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 16px;  
}
.image{
    width:430px;
    height: 266px;    
}
.image img{
    width: 100%;
    height: 100%;
}

/* Subscribe */

.sub{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
/* learn-button */
.learn-button{
    margin: 40px;
}

.learn-button button{

 padding: 30px 50px;
 border: none;
 background-color: #7C83FD;
 border-radius: 30px;
 color: #ffffff;
 font-weight: 700;
 font-size: 20px;

}

/* cards-001 */

.cards-001{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card{ 
    margin: 15px;
    padding: 20px;
    border-radius: 22px;


}
.card h1{
    font-size: 25px;
}
.card a{
 text-decoration: none;
 font-size: 17px;
 font-weight: 600;
 line-height: 25px;
 
}

.card-image img{
    width: 200px;
    height:210px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.card-01{
    background-color: #0dcabec5;
  
}
.card-01 img{
    border:2px solid #03fae9c5;
}
 
.card-02{
    background-color: #FFE3E3;
   
}
.card-02 img{
    border:2px solid #fdf4f4;
}
.card-03{
    background-color: #FAAD80;
    
}
.card-03 img{
    border:2px solid #f8a372;
}
.card-04{
    background-color: #71efa3be;
 
}
.card-04 img{
    border: 2px solid #5cf198 ;
}
.card-05{
    background-color: #fcd8d43d;
}
.card-05 img{
    border: 2px solid #ffd2cd ;
}

/* sub */

.sub{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.sub-titel{
    margin: 60px;
}
.sub-titel h1{
    font-size: 35px;
    font-weight: 700;
}
.sub-btn{
    background-color: rgba(175, 175, 175, 0.747);
    border-radius: 50px; 
}

.sub-btn input{
    font-size: 20px;
    font-weight: 500;
    color: honeydew;
    border-radius: 50px;
    margin: 5px;
    margin-left: 10px;
}
.sub-btn input ,button{
    border: none;
    background: none;
}

.sub-btn button{
    color: rgb(243, 242, 241);
    font-size: 18px;
    background-color: #7C83FD;
    margin: 5px;
    padding:30px 40px;
    border-radius: 40px;
}

hr{
   width: 95%;
   border: 1px solid gray;

}

/* footer */



.card-section-footer{  
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.footer-img{ 
    width: 500px ;
    height: 300px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.footer-img img{
    margin-bottom: 30px;

}

.footer-img p{
    font-size: 18px;
    line-height: 20px;
}
 
.social span{
    margin: 10px;
}
.social span i{
    font-size: 20px;
}
.footer-lage{
    display: flex;
    flex-direction: row;
}

.lage{
    margin-right:50px ;
}
.lage ul{
    list-style: none;
    margin: 20px;
}
.lage li{
    margin: 10px;
    padding: 10px;
}

.lage a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}


/* @media */
/* header ,.sec-titel , .big-cards , .LATEST-POSTS, .fourth-section, .learn-button, .cards-001, .sub, .card-section-footer, footer {
    display: none;
} */

@media only screen and (max-width:688px) {
    .card-section{ border: 5px solid blue;
       
        margin-top: 10px;
        margin-bottom: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    header ,.sec-titel , .card-section-footer, footer {
        display: none;
    }
    .cards{  
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 10px;
       margin: 0; 
         
    }
    .card{ 
        width: 80%;
        height: 200px;
        margin: 5px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px gray;
    
    }
    .card-image{
        width: 90%;
        margin-left: 12px;
    }
    .card-image img{
        width: 100%;
        height:100%;
        padding-bottom: 5px;
        border-radius: 20px;
    }

    .card h1{
        font-size: 20px;
    }
    .card a{
      display: none;
     
    }
    .card-1{
        background-color: #0dcabec5;
      
    }
    .card-1 img{
        border:2px solid #03fae9c5;
    }
     
    .card-2{
        background-color: #FFE3E3;
       
    }
    .card-2 img{
        border:2px solid #fdf4f4;
    }
    .card-3{
        background-color: #FAAD80;
        
    }
    .card-3 img{
        border:2px solid #f8a372;
    }
    .card-4{
        background-color: #71efa3be;
     
    }
    .card-4 img{
        border: 2px solid #5cf198 ;
    }
    
    .LATEST-POSTS{ 
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .LATEST-POSTS-image{ border: 5px solid green;
        width: 80%;
    }
    .LATEST-POSTS-image img{
        width: 100%;
       height: 90%;
    }
    .LATEST-POSTS-titel{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 90%;
        padding: 2%;

    }

    /* big-card */

    .big-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
 
    .big-card{ 
        border: 2px solid gray;
        box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.562) ;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 350px;
        height: 350px;
     
        
    }
    .bid-img{
    
    }
    
    .bid-img img{
    height: 100%;
    width: 100%;
    }
    .big-titel {
        margin-left: 20px;
         
    }
    .big-titel h1{
    font-size: 30px;
    font-weight: 600;
    }
    .big-titel a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    
    }
    .big-button button{
        margin-left: 20px;
        border: none;
        background-color: rgba(128, 128, 128, 0.322);
        padding: 8px 25px;
        border-radius: 15px;
        font-weight: 600;
        font-size: 16px;
    }


    /* .fourth-section */
    .fourth-section{ 
            margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

    }
    .div-1 { 
        margin-top: 10px;
        margin-bottom: 20px;
        width: 350px;
        height: 350x;
        border-radius: 25px;
        background: #F6AE99;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 5px gray;
        position: relative;
    }
    .div-2{ 
        margin-right: 16px;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 350px;
        height: 350x;
        border-radius: 25px;
        background: #F6AE99;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 5px gray;
        position: relative;
    }
      
     
    .image{
        width:90%;
        padding: 5px;
       
        position:absolute;
        top: 10px;
    }
           
    
    .image img{
        width: 100%;
        height: 90%;
        border-top-right-radius: 25px ;
        border-top-left-radius: 25px;
    } 
    .titel{
        padding: 15px;
        position: absolute;
        top: 250px;
       
    }
    .titel h2{
        font-size: 30px;
        
    }
    .titel a{
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: 600;
    }
    .titel button{
        margin-top: 50px;
        margin-left: 20px;
        border: none;
        background-color: rgba(128, 128, 128, 0.322);
        padding: 8px 25px;
        border-radius: 15px;
        font-weight: 600;
        font-size: 16px;  
    }
    /* .learn-button, */
    .learn-button{
        margin: 40px;
    }
    
    .learn-button button{
    
     padding: 15px 25px;
     border: none;
     background-color: #7C83FD;
     border-radius: 20px;
     color: #ffffff;
     font-weight: 600;
     font-size: 16px;
    }

    /* .cards-001 */
    .cards-001{  
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 10px;
       margin: 0; 
         
    }
    .card{ 
        width: 80%;
        height: 200px;
        margin: 5px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px gray;
    
    }
    .card-image{
        width: 90%;
        margin-left: 12px;
    }
    .card-image img{
        width: 100%;
        height:100%;
        padding-bottom: 5px;
        border-radius: 20px;
    }

    .card h1{
        font-size: 20px;
    }
    .card a{
      display: none;
     
    }
    .card-01{
        background-color: #0dcabec5;
      
    }
    .card-01 img{
        border:2px solid #03fae9c5;
    }
     
    .card-02{
        background-color: #FFE3E3;
       
    }
    .card-02 img{
        border:2px solid #fdf4f4;
    }
    .card-03{
        background-color: #FAAD80;
        
    }
    .card-03 img{
        border:2px solid #f8a372;
    }
    .card-04{
        background-color: #71efa3be;
     
    }
    .card-04 img{
        border: 2px solid #5cf198 ;
    }

    /* .sub */
    .sub{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
 
.sub-titel{
    margin: 30px;
}
.sub-titel h1{
    font-size: 35px;
    font-weight: 700;
}
.sub-btn{
    background-color: rgba(175, 175, 175, 0.747);
    border-radius: 50px; 

}

.sub-btn input{
    font-size: 20px;
    font-weight: 500;
    color: honeydew;
    border-radius: 50px;
    margin: 5px;
    margin-left: 10px;
}
.sub-btn input ,button{
    border: none;
    background: none;
}

.sub-btn button{
    color: rgb(243, 242, 241);
    font-size: 18px;
    background-color: #7C83FD;
    margin: 5px;
    padding:20px 30px;
    border-radius: 40px;
}

/* footer */


.card-section-footer{  border: 2px solid red;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.footer-img{ 
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
     padding-left:15px;
 
}

.footer-img img{
    margin-bottom: 30px;

}

.footer-img p{
    font-size: 18px;
    line-height: 20px;
}
 
.social span{
    margin: 10px;
}
.social span i{
    font-size: 20px;
}
.footer-lage{ 
    display: flex;
     
}

.lage{
    margin-right:50px ;
}
.lage ul{border: 2px solid blue;
    list-style: none;
    margin: 20px;
}
.lage li{
    margin: 10px;
    padding: 10px;
}

.lage a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}


}